.navbar{
    height: 5rem;
    width: 100vw;
    max-width: 99rem;
    margin: 0 auto;
    padding: 5rem 3rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    object-fit: cover;
    height: 5rem;
    width: 6rem;
}
.Menulist
{
    color: black;
    margin:3rem;
    cursor: grab;
}
.Menulist:hover
{
    color:  rgb(255, 238, 0);
    padding-bottom: 0.5rem;
    border-bottom:3px solid rgb(255, 238, 0);
}
.menubutton
{
    background-color: black;
    object-fit: cover;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}